* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

body {
    background-color: white;
    font-family: Arial;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    height: 90vh;
    margin: auto;
}

.element {
    flex-basis: 15%;
    flex-grow: 1;
    height: 30vh;
    border: 2px solid white;
}

/* Klasy z kolorami */
.mediumspringgreen {
    background-color: mediumspringgreen;
}

.mediumvioletred {
    background-color: mediumvioletred;
}

.lightskyblue {
    background-color: lightskyblue;
}

.lightsalmon {
    background-color: lightsalmon;
}

.darkblue {
    background-color: darkblue;
}

.cadetblue {
    background-color: cadetblue;
}

.orangered {
    background-color: orangered;
}

.gold {
    background-color: gold;
}

.darkolivegreen {
    background-color: darkolivegreen;
}

.covered {
    background-color: black;
}

.white {
    background-color: gainsboro;
}

.covered:hover {
    cursor: pointer;
}

/* MEDIA */
@media (orientation: portrait) {
    .element {
        flex-basis: 30%;
        height: 15vh;
    }
}